.referenceList td{
    border-left: 2px solid black;
}

.referenceList .classRow {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.referenceList th{
    min-width: 4em;
}

.referenceMain p, h2 {
    color: white;
    text-shadow: 0 0 5px black;
    margin: 1em 15vw;
}

.referenceMain a {
    font-weight: bold;
    text-decoration: underline;
}

.mobile {
    display: none;
}

.desktop {
    display: table-cell;
}

@media only screen and (max-width: 840px) {
    .referenceList th {
        min-width: 2em;
    }

    .referenceList th, td {
        font-size: 0.7em;
    }

    .referenceList .classRow {
        font-size: 0.6em;
        padding-left: 0.3em;
        padding-right: 0.3em;
    }

    .mobile {
        display: table-cell;
    }

    .desktop {
        display: none;
    }
}
